@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
@font-face {
  font-family: "LINESeed_Thin";
  src: url("/fonts/LINESeedSansTH_W_Th.woff2") format("woff2");
}

@font-face {
  font-family: "LINESeed_Regular";
  src: url("/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
}

@font-face {
  font-family: "LINESeed_Bold";
  src: url("/fonts/LINESeedSansTH_W_Bd.woff2") format("woff2");
}

@font-face {
  font-family: "LINESeed_ExtraBold";
  src: url("/fonts/LINESeedSansTH_W_XBd.woff2") format("woff2");
}

@font-face {
  font-family: "LINESeed_Hevy";
  src: url("/fonts/LINESeedSansTH_W_He.woff2") format("woff2");
}

@layer base {
  body {
    font-family: "LINESeed_Thin", "LINESeed_Regular", "LINESeed_Bold",
      "LINESeed_ExtraBold", "LINESeed_Hevy", sans-serif;
    background-color: #ffffff;
  }
}

@layer utilities {
  .container {
    @apply px-8 sm:px-12 max-w-[1300px] lg:m-auto;
  }

  html {
    scroll-behavior: smooth;
  }

  .custom-bg-image {
    background-image: url("/images/bg2.png");
    background-size: cover;
    background-position: center;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.animate-class {
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(50px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-7 {
  transition-delay: 0.7s;
}

.delay-8 {
  transition-delay: 0.8s;
}

.delay-9 {
  transition-delay: 0.9s;
}

.delay-10 {
  transition-delay: 1s;
}

.delay-11 {
  transition-delay: 1.1s;
}

.delay-12 {
  transition-delay: 1.2s;
}

.delay-13 {
  transition-delay: 1.3s;
}

.delay-14 {
  transition-delay: 1.4s;
}

.delay-15 {
  transition-delay: 1.5s;
}

.delay-16 {
  transition-delay: 1.6s;
}

.delay-17 {
  transition-delay: 1.7s;
}

.delay-18 {
  transition-delay: 1.8s;
}

.delay-19 {
  transition-delay: 1.9s;
}

.delay-20 {
  transition-delay: 2s;
}

/* Add this to your global CSS file or use a style block in your component */
.image-transition {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust timing as needed */
}

.image-transition.show {
  opacity: 1;
}
